@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src: url(@/app/assets/fonts/Montserrat-Bold.woff2) format('woff2'),
      url(@/assets/fonts/Montserrat-Bold.woff) format('woff');
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src: url(@/app/assets/fonts/Montserrat-Medium.woff2) format('woff2'),
      url(@/app/assets/fonts/Montserrat-Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src: url(@/app/assets/fonts/Montserrat-Regular.woff2) format('woff2'),
      url(@/app/assets/fonts/Montserrat-Regular.woff) format('woff');
  font-weight: 400;
}